
body{
	background:#ededed;
	margin:0;
	padding:0;
}

.box-login{
	padding:40px;
	left:50%;
	top:50%;
	margin-left:-210px; 
	margin-top:-170px; 
	position:absolute;
	width:340px; 
	height:294px;
	background:#FFF;
	border-radius:7px;
	box-shadow: 0 0 1em #D9D9D9;
	border-bottom:6px solid #00bfff;
}

.icon-pass{
	width:55px;
	margin:0 auto;
	display:block;
	margin-bottom:40px;
}


.btn-pass{
	width:30px;
	float:left;
	margin:15px 0;
	display:block;
	cursor:pointer;
	opacity: 0.7;
}
img.btn-pass:hover{
	opacity:1;
}

.inputDados{
	padding:4%;
	width:92%;
	border:1px solid #eee;
	border-bottom:1px solid #ccc;
	font-family: 'Montserrat', sans-serif;
	font-size:1em;
}

input.btn-entrar{
	padding:15px 0;
	width:100%;
	font:600 1em 'Montserrat', sans-serif;
	border:0;
	border-radius:5px;
	background:#dedede;
	color:#555;
	transition:0.4s;
	cursor:pointer;
}
input.btn-entrar:hover{
	background:#555;
	color:#FFF;
}